*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', 'sans-serif';
}
/* Estilos del HEADER */
.main-header{
    background-color:#EAC926 ;
    padding: 20px;    
    
}
.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-header-top-bar img{
    width: 50%;

}
.nav-search{
    width: 45%;
    height: 2rem;
    align-items: center;
    display: flex;
    background-color: white;
}
.nav-search-fm{
    width: 100%;
    justify-content: space-between;
}
.nav-search-fm label{
    display: none;
}
.nav-search-fm{
    display: flex;
}
.nav-search-imput{
    display: block;
    width: 80%;
    border: none;
}
.nav-search-btn{
    display: block;
    background-color: white;
    border: none;
    width: 15%;
}
.burger-menu{
    width: 10.5vw;
    height: 10.9vw;
    margin: auto;
    background-color: #1259c3;
    border-radius: 8px;
    text-align: center;
    padding: 1vw;
    margin-top: 3vh;
    
}
.fa-bars{
    color: white;
    margin: 1vw;
    font-size: 6.5vw;
}
header nav{
    display: none;
}
.titulares{
    font-size: 24px;
    width: 100%;
}
.titulo2{
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-top: 2vh;
}

/*== Breakpoint Tablets==*/
@media(min-width:481px){   
    .burger-menu{
        display: none;
    }
    .main-header-bottom-bar{
        display: flex;
    }
    .left-nav-bar{
        width: 45%;
    }
    .right-nav-bar{
        width: 40%;
    }
    .main-header-bottom-bar ul a{
        text-decoration: none;
        text-align: left;
        color:#222222;
        display: inline-block;
        font-size: 1rem;
        padding: 5px 0;
        margin-right: 0.8vw;
    }
    .main-header-top-bar{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2vh;
        
    }
    .nav-search{
        width: 31vw;
    }
    .main-header-top-bar img{
        width: 31vw;
    }
    .titulo2{
        width: 31vw;
    }
    header nav{
        display: contents;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .main-header-bottom-bar{
        margin: 2.5vh 0 0 0;
        justify-content: space-between;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    nav ul li{
        display: block;
        font-size: 90%;        
    }
}